<div class="court-center-selection">
  <pdk-grid container>
    <h1 pdk-typography="heading-large" pdk-margin-bottom="1" pdk-margin-top="2" pdk-visually-hidden>
      Allocate to court
    </h1>
    <form
      pdk-form
      (errors)="this.errors.emit($event)"
      (validSubmit)="onContinue()"
      novalidate
      pdk-margin-top="1"
      data-test-id="courtCalendarFilters"
    >
      <pdk-form-field
        label="Where do you want to allocate to?"
        labelType="large"
        [errorMessages]="[{ rule: 'required', message: 'Select court' }]"
      >
        <pdk-radio-group
          name="hearingType"
          [(ngModel)]="courtType"
          (ngModelChange)="this.selectedCourtCentre = null"
          required
        >
          <pdk-radio-button value="CROWN">Crown Court </pdk-radio-button>
          <pdk-grid two-thirds>
            @if (courtType === 'CROWN') {
              <pdk-radio-conditional>
                <pdk-form-field
                  label="Select court"
                  pdk-margin-top="3"
                  [errorMessages]="errorMessages"
                >
                  <cpp-organisation-unit-autosuggest
                    [id]="'crownCourtCentre'"
                    name="courtCentre"
                    [(ngModel)]="selectedCourtCentre"
                    jurisdictionCode="C"
                    required
                    data-role="allocate-court-centre-input"
                  ></cpp-organisation-unit-autosuggest>
                </pdk-form-field>
              </pdk-radio-conditional>
            }
          </pdk-grid>
          <pdk-radio-button class="clear-both" value="MAGISTRATES"
            >Magistrates' Court
          </pdk-radio-button>
          <pdk-grid two-thirds>
            @if (courtType === 'MAGISTRATES') {
              <pdk-radio-conditional>
                <pdk-form-field label="Select court" pdk-margin-top="3">
                  <cpp-organisation-unit-autosuggest
                    [id]="'magistratesCourtCentre'"
                    name="courtCentre"
                    [(ngModel)]="selectedCourtCentre"
                    jurisdictionCode="B"
                    required
                    data-role="allocate-court-centre-input"
                  ></cpp-organisation-unit-autosuggest>
                </pdk-form-field>
              </pdk-radio-conditional>
            }
          </pdk-grid>
        </pdk-radio-group>
      </pdk-form-field>
      <button pdk-button data-role="continue-btn" pdk-margin-bottom="1" type="submit">
        Continue
      </button>
      <div pdk-margin-top="2">
        <a
          pdk-link
          unvisited
          [routerLink]="backUrl()"
          [queryParams]="queryParams()"
          data-role="cancel-btn"
          >Back</a
        >
      </div>
    </form>
  </pdk-grid>
</div>
