<div class="filter-group filter-group-extended">
  <div class="filter-item">
    <pdk-form-field
      label="Court"
      labelType="small"
      [errorMessages]="[{ rule: 'required', message: 'Enter a court name' }]"
    >
      <cpp-organisation-unit-autosuggest
        [id]="'courtCentreFilter'"
        name="courtCentre"
        [ngModel]="values()?.courtCentre"
        (ngModelChange)="courtCentreChange.emit($event)"
        [jurisdictionCode]="jurisdictionCode()"
        required
        data-role="allocate-court-centre-input"
      ></cpp-organisation-unit-autosuggest>
    </pdk-form-field>
  </div>
  <div class="filter-item">
    <pdk-form-field label="Courtroom (optional)" labelType="small">
      <pdk-select
        [ngModel]="values()?.courtRoomId"
        [name]="'courtRoomId'"
        [options]="courtroomOptions()"
        justified
        placeholder="Any"
      ></pdk-select>
    </pdk-form-field>
  </div>
  <div class="filter-item date-filter">
    <pdk-form-field
      labelType="small"
      label="Start date"
      [errorMessages]="[{ rule: 'required', message: 'Enter a start date' }]"
    >
      <pdk-date-picker-input
        #sessionStartDate="ngModel"
        [ngModel]="values()?.startDate | date: 'yyyy-MM-dd'"
        (ngModelChange)="sessionEndDate.reset()"
        name="startDate"
        [disableWeekend]="courtType() === 'CROWN'"
        required
      ></pdk-date-picker-input>
      @if (sessionStartDate.valid && sessionStartDate.value) {
        <pdk-inset-text pdk-margin-bottom="0" pdk-margin-top="3" role="status" required>
          Selected day:&nbsp;
          <span>{{ sessionStartDate.value | date: 'EEEE' }}</span>
        </pdk-inset-text>
      }
    </pdk-form-field>
  </div>
  <div class="filter-item date-filter">
    <pdk-form-field
      [errorMessages]="[
        { rule: 'sessionEndDate', message: 'End date must be later than start date' }
      ]"
      labelType="small"
      label="End date"
    >
      <pdk-date-picker-input
        #sessionEndDate="ngModel"
        [isDateDisabled]="disabledEndDate(sessionStartDate.value)"
        [disableWeekend]="courtType() === 'CROWN'"
        [ngModel]="values()?.endDate"
        name="endDate"
        [minDate]="sessionStartDate.value"
        data-test-id="sessionEndDate"
      ></pdk-date-picker-input>
      @if (
        sessionEndDate.value &&
        !sessionEndDate.errors?.dateExists &&
        !sessionEndDate.errors?.dateFormat
      ) {
        <pdk-inset-text pdk-margin-bottom="0" pdk-margin-top="3" role="status" required>
          Selected day:&nbsp;
          <span>{{ sessionEndDate.value | date: 'EEEE' }}</span>
        </pdk-inset-text>
      }
    </pdk-form-field>
  </div>
  @if (courtType() === 'CROWN') {
    <div class="filter-item">
      <pdk-form-field
        label="Hearing type (optional)"
        labelType="small"
        [errorMessages]="[{ rule: 'required', message: 'Enter a hearing type' }]"
      >
        <cpp-hearing-type-autosuggest
          name="hearingType"
          [ngModel]="values()?.hearingType"
          placeholder="All hearing types"
        ></cpp-hearing-type-autosuggest>
      </pdk-form-field>
    </div>
  }
  <div class="filter-item">
    <pdk-form-field label="Business type (optional)" labelType="small">
      <cpp-rota-business-type-select
        [ngModel]="values()?.businessType"
        [name]="'businessType'"
        placeholder="All business types"
        [jurisdiction]="courtType()"
        [required]="false"
        justified
      ></cpp-rota-business-type-select>
    </pdk-form-field>
  </div>
  <div>
    <pdk-form-field label="Session" labelType="small">
      <pdk-radio-group
        name="courtSession"
        ariaDescribedBy="'courtSession'"
        ariaDescription="'Session'"
        [ngModel]="values()?.courtSession || 'Any'"
        [options]="courtSessionOptions"
      ></pdk-radio-group>
    </pdk-form-field>
  </div>
</div>
