<table data-test-id="hearing-tree-grid" pdk-table role="treegrid">
  <thead data-test-id="hearing-table-head" pdk-table-head>
    <tr role="row" pdk-table-row>
      @if (sectionConfig.rowsAreExpandable) {
        <th
          id="expandable-header"
          [pdk-visually-hidden]="!!sectionConfig.headerCellsVisuallyHidden"
          pdk-table-header
          pdk-padding-right="0"
        >
          <span pdk-visually-hidden>{{ sectionConfig.rowsExpandHeaderDescription }}</span>
        </th>
      }
      @for (column of columnConfig | toArray; let index = $index; track index) {
        <th
          [attr.id]="'header-' + (index + 1)"
          pdk-table-header
          pdk-padding-left="2"
          [pdk-visually-hidden]="!!sectionConfig.headerCellsVisuallyHidden"
          [ngStyle]="column.maxWidth && { width: column.maxWidth + 'px' }"
        >
          <ng-container
            [ngTemplateOutlet]="
              customCellHeaderRenderers && customCellHeaderRenderers[column.key]
                ? customCellHeaderRenderers[column.key]
                : defaultCell
            "
            [ngTemplateOutletContext]="{
              columnConfig: column,
              cellData: column.label
            }"
          >
          </ng-container>
        </th>
      }

      @if (sectionConfig.actionable && actionCellRenderer) {
        <th
          id="action-header"
          pdk-table-header
          [pdk-visually-hidden]="!!sectionConfig.headerCellsVisuallyHidden"
          pdk-padding-left="2"
          pdk-padding-right="2"
        >
          Actions
        </th>
      }
    </tr>
  </thead>
  @for (
    section of sections | toArray;
    let sectionIndex = $index;
    track section.sectionIdentifier || sectionIndex
  ) {
    @if (sectionConfig.hasTableSectionHeader) {
      <tr data-test-id="hearing-table-section-header" role="row" pdk-table-row>
        <th
          scope="colgroup"
          role="gridcell"
          [attr.id]="section.sectionIdentifier"
          pdk-table-header
          [colSpan]="sectionHeaderSpan"
          pdk-fill-colour="light-grey"
          pdk-padding-left="2"
        >
          <ng-container
            [ngTemplateOutlet]="sectionHeaderRenderer ? sectionHeaderRenderer : defaultCell"
            [ngTemplateOutletContext]="{
              sectionData: section,
              cellData:
                sectionConfig.sectionHeader?.label || section[sectionConfig.sectionHeader?.key]
            }"
          >
          </ng-container>
        </th>
      </tr>
    }
    @if (sectionConfig?.rowGroups) {
      @for (
        rowGroups of section[sectionConfig.rowGroups.rowGroupsPath] | toArray;
        let rowGroupsIndex = $index;
        track rowGroupsIndex
      ) {
        @if (sectionConfig.rowGroups.headerConfig) {
          <tr data-test-id="hearing-table-row-groups-header" role="row" pdk-table-row>
            <th
              scope="rowgroup"
              role="gridcell"
              [attr.id]="'row-groups-header-' + (rowGroupsIndex + 1)"
              [attr.headers]="
                sectionConfig.hasTableSectionHeader ? section.sectionIdentifier : undefined
              "
              pdk-table-header
              [colSpan]="sectionHeaderSpan"
              pdk-padding-left="2"
            >
              <ng-container
                [ngTemplateOutlet]="
                  rowGroupHeaderCellRenderer ? rowGroupHeaderCellRenderer : defaultCell
                "
                [ngTemplateOutletContext]="{
                  rowGroups: rowGroups,
                  sectionData: section,
                  cellData:
                    sectionConfig.rowGroups.headerConfig?.label ||
                    rowGroups[sectionConfig.rowGroups.headerConfig?.rowGroupHeaderPath]
                }"
              >
              </ng-container>
            </th>
          </tr>
        }
        @for (
          rowGroup of rowGroups[sectionConfig.rowGroups.dataConfig?.rowGroupDataPath] | toArray;
          let index = $index;
          track index
        ) {
          <tbody
            data-test-id="hearing-table-row-group"
            row-group-body
            pdk-table-body
            [rowGroup]="rowGroup"
            [actionCellRenderer]="actionCellRenderer"
            [expandedDetailsRenderer]="expandedDetailsRenderer"
            [rowIsActionable]="sectionConfig.actionable"
            [cellRenderers]="cellRenderers"
            [columnConfig]="columnConfig"
            [rowGroupsConfig]="sectionConfig.rowGroups"
            [rowGroupHeaderCellRenderer]="rowGroupHeaderCellRenderer"
            [defaultCell]="defaultCell"
            [sectionHeaderSpan]="sectionHeaderSpan"
            [rowIsexpandable]="sectionConfig.rowsAreExpandable"
            [hearingMovestate]="hearingMovestate"
            [positionedHearingsState]="positionedHearingsState"
            [moveAlertRenderer]="moveAlertRenderer"
            [section]="section"
            [sectionHeaderIdentifier]="
              sectionConfig.hasTableSectionHeader ? section.sectionIdentifier : ''
            "
            [rowGroupsHeaderIdentifier]="
              sectionConfig?.rowGroups?.headerConfig
                ? 'row-groups-header-' + (rowGroupsIndex + 1)
                : ''
            "
          ></tbody>
        }
      }
    }
  }
</table>

<ng-template #defaultCell let-cellData="cellData">
  <div>
    <span> {{ cellData }}</span>
  </div>
</ng-template>
