@let config = sectionConfig();
@let colConfig = columnConfig();
@let span = sectionHeaderSpan();
<table data-test-id="hearing-tree-grid" pdk-table role="treegrid">
  <thead data-test-id="hearing-table-head" pdk-table-head>
    <tr role="row" pdk-table-row>
      @if (config.rowsAreExpandable) {
        <th
          id="expandable-header"
          [pdk-visually-hidden]="!!config.headerCellsVisuallyHidden"
          pdk-table-header
          pdk-padding-right="0"
        >
          <span pdk-visually-hidden>{{ config.rowsExpandHeaderDescription }}</span>
        </th>
      }
      @for (column of colConfig | toArray; let index = $index; track index) {
        <th
          [attr.id]="'header-' + (index + 1)"
          pdk-table-header
          pdk-padding-left="2"
          [pdk-visually-hidden]="!!config.headerCellsVisuallyHidden"
          [ngStyle]="column.maxWidth && { width: column.maxWidth + 'px' }"
        >
          <ng-container
            [ngTemplateOutlet]="
              customCellHeaderRenderers() && customCellHeaderRenderers()[column.key]
                ? customCellHeaderRenderers()[column.key]
                : defaultCell
            "
            [ngTemplateOutletContext]="{
              columnConfig: column,
              cellData: column.label
            }"
          >
          </ng-container>
        </th>
      }

      @if (config.actionable && actionCellRenderer()) {
        <th
          id="action-header"
          pdk-table-header
          [pdk-visually-hidden]="!!config.headerCellsVisuallyHidden"
          pdk-padding-left="2"
          pdk-padding-right="2"
        >
          Actions
        </th>
      }
    </tr>
  </thead>

  @for (sectionRender of renderItems(); track sectionRender.section.sectionIdentifier) {
    @if (config.hasTableSectionHeader) {
      <tr data-test-id="hearing-table-section-header" role="row" aria-level="1" pdk-table-row>
        <th
          scope="colgroup"
          role="gridcell"
          [attr.id]="sectionRender.section.sectionIdentifier"
          pdk-table-header
          [colSpan]="span"
          pdk-fill-colour="light-grey"
          pdk-padding-left="2"
        >
          <ng-container
            [ngTemplateOutlet]="sectionHeaderRenderer() ? sectionHeaderRenderer() : defaultCell"
            [ngTemplateOutletContext]="{
              sectionData: sectionRender.section,
              cellData:
                config.sectionHeader?.label || sectionRender.section[config.sectionHeader?.key]
            }"
          >
          </ng-container>
        </th>
      </tr>
    }

    @for (item of sectionRender.items; track $index) {
      @if (item.type === 'levelHeader') {
        <tr
          data-test-id="hearing-table-row-groups-header"
          role="row"
          [attr.aria-level]="(config.hasTableSectionHeader ? 1 : 0) + item.depth"
          pdk-table-row
        >
          <th
            scope="rowgroup"
            role="gridcell"
            [attr.id]="item.levelHeaderId"
            [attr.headers]="item.ancestorHeaderIds || undefined"
            pdk-table-header
            [colSpan]="span"
            pdk-padding-left="2"
            [pdk-fill-colour]="config.groupLevels?.levels?.[item.levelIndex]?.bgColor || undefined"
          >
            <ng-container
              [ngTemplateOutlet]="
                hearingsGroupHeaderRenderers() && hearingsGroupHeaderRenderers()[item.levelPath]
                  ? hearingsGroupHeaderRenderers()[item.levelPath]
                  : defaultCell
              "
              [ngTemplateOutletContext]="{
                cellData: item.cellData,
                levelData: item.data,
                sectionData: sectionRender.section
              }"
            >
            </ng-container>
          </th>
        </tr>
      } @else {
        <tbody
          data-test-id="hearing-table-row-group"
          row-group-body
          pdk-table-body
          [rowGroup]="item.rowGroupData"
          [rowsPath]="item.rowsPath"
          [ariaLevel]="(config.hasTableSectionHeader ? 1 : 0) + item.depth"
          [levelHeaderIds]="item.headerIds"
          [actionCellRenderer]="actionCellRenderer()"
          [expandedDetailsRenderer]="expandedDetailsRenderer()"
          [rowIsActionable]="config.actionable"
          [cellRenderers]="cellRenderers()"
          [columnConfig]="colConfig"
          [defaultCell]="defaultCell"
          [sectionHeaderSpan]="span"
          [rowIsexpandable]="config.rowsAreExpandable"
          [hearingMovestate]="hearingMovestate()"
          [positionedHearingsState]="positionedHearingsState()"
          [failedAllocationIds]="failedAllocationIds()"
          [moveAlertRenderer]="moveAlertRenderer()"
          [section]="sectionRender.section"
        ></tbody>
      }
    }
  }
</table>

<ng-template #defaultCell let-cellData="cellData">
  <div>
    <span> {{ cellData }}</span>
  </div>
</ng-template>
