@let alert = alertState(); @let vm = courtCalendarHearingsVM(); @let filters = filterOptions(); @let
selectedHearings = allocatedHearingActionsStore.selectedHearings();

<pdk-grid container>
  @if (alert) {
  <pdk-grid full>
    <court-calendar-alert-panel
      [alertEntity]="alert"
      shouldFocus="true"
    ></court-calendar-alert-panel>
  </pdk-grid>
  }
</pdk-grid>
@if (errors?.length > 0) {
<pdk-error-summary [errors]="errors" focusOnChange pdk-margin-top="4"></pdk-error-summary>
}
<div pdk-margin-top="2">
  <sub-menu></sub-menu>
</div>
<pdk-grid container>
  <pdk-grid full>
    <h1 pdk-typography="heading-large">Court Calendar</h1>
    <court-calendar-filters
      [organisationUnits]="organisationUnits()"
      [initialValues]="filters"
      (errors)="errors = $event"
      (submitForm)="onSubmitFormFilters($event)"
      (jurisdictionTypeChange)="onJurisdictionTypeChange()"
    >
    </court-calendar-filters>
  </pdk-grid>
  <pdk-grid full>
    @if (vm?.pagination?.totalNumber !== null) {
    <div class="flex-display flex-align-center flex-jutify-between">
      <court-result-summary
        #allocatedTableSummary
        [filterOptions]="filters"
        [resultsDisplayed]="vm?.totalHearingsDisplayed"
        [totalNumber]="vm?.pagination?.totalNumber"
      >
      </court-result-summary>
      <button
        aria-label="Add unallocated hearings"
        pdk-button="secondary"
        (click)="onAddUnallocateHearing()"
      >
        Add unallocated hearings
      </button>
    </div>
    }
    <div pdk-margin-bottom="2">
      @if (filters?.courtRoomId) {
      <listing-note-container
        [courtRoomId]="filters?.courtRoomId"
        [listingNoteDate]="filters?.startDate"
        (onErrors)="errors = $event"
      >
      </listing-note-container>
      }
    </div>
    @if (vm?.courtRoomCalendars?.length > 0) {
    <div class="flex-display flex-align-center flex-jutify-between">
      <bulk-actions
        [selectedHearings]="selectedHearings"
        [courtType]="filters?.courtType"
        (selectedBulkAction)="onBulkAction($event)"
      ></bulk-actions>
      <page-size-selector
        [pageSize]="filters?.pageSize"
        (pageSizeChange)="pageChanged({ pageNumber: 1, pageSize: $event })"
      ></page-size-selector>
    </div>
    }
    <allocated-hearing-table-container
      [sections]="vm?.courtRoomCalendars"
      [totalNumber]="vm?.pagination?.totalNumber"
      [currentPage]="vm?.pagination?.currentPage"
      [pageSize]="filters?.pageSize"
      [resultsDisplayed]="vm?.totalHearingsDisplayed"
      [hearingMovestate]="allocatedHearingActionsStore.moveState()"
      [positionedHearingsState]="allocatedHearingActionsStore.positionedHearingsState()"
      [failedAllocationIds]="allocatedHearingActionsStore.failedAllocationIds()"
      [selectedHearings]="selectedHearings"
      [caseNotesMap]="caseNotesMap()"
      (pageChange)="pageChanged({ pageNumber: $event, pageSize: filters?.pageSize })"
      (onGetCaseNote)="onGetCaseNotesForId($event)"
      (onNavigateChangeJudiciary)="onNavigateChangeJudiciary($event)"
      (onSelectHearing)="selectHearing($event)"
      (onSelectAllHearings)="selectAllHearings($event)"
      (onSequence)="onHearingSequence($event)"
      (actionClicked)="onHearingAction($event)"
      (undoHearingMoveClicked)="onUndoHearingMove()"
    >
    </allocated-hearing-table-container>
  </pdk-grid>
</pdk-grid>
