.pinned {
  position: relative;

  &::before {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 1px;
    left: -28px;
    content: url('../../../../../assets/attach-pin-black.svg');
  }
}
