<cpp-application-layout
  [accessibilityLink]="accessibilityUrl"
  [activity]="loading$ | async"
  [headerNavItems]="headerNavItems$ | async"
  [offline]="(online$ | async) === false"
  [searchEnabled]="hasSearchEnabled$ | async"
  [serviceLink]="'/'"
  [wide]="true"
  serviceName="Common Platform"
  searchPlaceholder="Search by reference"
  searchLabel="Search by case or application reference"
  (search)="handleSearch($event)"
>
  <section>
    <router-outlet></router-outlet>
  </section>
</cpp-application-layout>
