@let values = initialValues();

<div pdk-margin-bottom="8">
  <form
    #form="ngForm"
    data-test-id="searchForm"
    pdk-form
    (errors)="errors.emit($event)"
    (validSubmit)="handleSubmitForm(form.value)"
  >
    <fieldset class="filter-container">
      <legend pdk-padding-top="4" pdk-typography="heading-small">
        <h2 pdk-typography="heading-medium">Filter hearings</h2>
      </legend>
      <pdk-form-field
        class="govuk-grid-column-full"
        label="jurisdiction"
        labelType="none"
        [errorMessages]="[{ rule: 'required', message: 'Select court' }]"
      >
        <pdk-radio-group
          name="courtType"
          [(ngModel)]="courtType"
          (ngModelChange)="this.onJurisdictionChange()"
          required
        >
          <pdk-radio-button value="MAGISTRATES">Magistrates' Court </pdk-radio-button>
          <pdk-grid>
            @if (courtType === 'MAGISTRATES') {
              <pdk-radio-conditional pdk-padding-top="4">
                <court-calendar-filter-fields
                  [courtType]="courtType"
                  [values]="values"
                  [courtroomOptions]="courtroomOptions"
                  (courtCentreChange)="handleCourtCentreChange($event)"
                ></court-calendar-filter-fields>
              </pdk-radio-conditional>
            }
          </pdk-grid>
          <pdk-radio-button value="CROWN">Crown Court </pdk-radio-button>
          <pdk-grid>
            @if (courtType === 'CROWN') {
              <pdk-radio-conditional pdk-padding-top="4">
                <court-calendar-filter-fields
                  [courtType]="courtType"
                  [values]="values"
                  [courtroomOptions]="courtroomOptions"
                  (courtCentreChange)="handleCourtCentreChange($event)"
                ></court-calendar-filter-fields>
              </pdk-radio-conditional>
            }
          </pdk-grid>
        </pdk-radio-group>
      </pdk-form-field>
      <div class="actions" pdk-padding-top="2" pdk-margin-bottom="2">
        <pdk-form-group>
          <button type="submit" aria-label="apply filters " pdk-button pdk-margin-bottom="0">
            Apply filters
          </button>
        </pdk-form-group>
        <div pdk-margin-left="4">
          <a
            data-test-id="reset-form"
            aria-label="Reset the filters"
            href="javascript:void(0)"
            pdk-link
            (click)="form.reset()"
            >Reset filters</a
          >
        </div>
      </div>
    </fieldset>
  </form>
</div>
