<pdk-grid container>
  <div pdk-grid full>
    <h2 pdk-typography="heading-large">
      Allocated hearings <span pdk-visually-hidden> for Crown courts</span>
    </h2>
    <allocated-crown-hearing-widget-filter
      [filterOptions]="filterOptions()"
      (onSubmit)="onSubmit.emit($event)"
      (errors)="errors.emit($event)"
      pdk-margin-bottom="3"
    ></allocated-crown-hearing-widget-filter>
    @if (sections()?.length > 0) {
      <div
        section-accordion-renderer
        [columnConfig]="columnConfig"
        [sectionConfig]="sectionConfig"
        [sections]="sections()"
        [actionCellRenderer]="actionsCell"
        [expandedDetailsRenderer]="hearingDetails"
        [moveAlertRenderer]="moveAlert"
        [accordionSectionActionRenderer]="accordionSectionAction"
        [rowGroupHeaderCellRenderer]="judiciaryHeader"
        [hearingMovestate]="hearingMoveState()"
        [positionedHearingsState]="positionedHearingsState()"
        [sectionOpenState]="sectionOpenState"
        [sectionAlertRenderer]="sectionAlertRenderer"
        (accordionOpenChange)="onAccordionOpenChange($event)"
        [cellRenderers]="{
          dateTime: timeCell,
          duration: durationCell,
          hearingType: hearingTypeCell,
          defendants: defendantCell
        }"
        [titleResolver]="sectionTitleResolver"
      ></div>
    }
  </div>
</pdk-grid>

<!------------------------------------------------------CELL TEMPLATE RENDERERS------------------------------------------------------------------------------------------>

<!--Judiciary Header-->
<ng-template #judiciaryHeader let-judiciary="cellData">
  <judiciary-header-cell [judiciary]="judiciary"> </judiciary-header-cell>
</ng-template>

<!--Time-->
<ng-template #timeCell let-dateTime="cellData">
  <time-cell [dateTime]="dateTime"></time-cell>
</ng-template>

<!--Duration-->
<ng-template #durationCell let-duration="cellData" let-hearing="rowData">
  <duration-cell
    [duration]="duration"
    [dayOfHearing]="hearing.details?.hearingDayPosition"
    [totalDays]="hearing.details?.hearingDayCount"
  ></duration-cell>
</ng-template>

<!--Hearing type-->
<ng-template #hearingTypeCell let-hearingType="cellData" let-hearing="rowData">
  <hearing-type-cell [hearingType]="hearingType" [isMaster]="hearing.isMaster"></hearing-type-cell>
</ng-template>

<!--Defendants-->
<ng-template #defendantCell let-defendants="cellData">
  <defendant-cell [defendantData]="defendants" [baseUrl]="baseUrl"></defendant-cell>
</ng-template>

<!--Allocated Hearing details-->
<ng-template #hearingDetails let-hearingRow="rowData">
  <!--ToDO-->
  <view-hearing-row-details
    [hearing]="hearingRow.details"
    [offences]="hearingRow.offences"
    [caseId]="hearingRow.defendants?.caseId"
    [applicationId]="hearingRow.defendants?.applicationId"
    [caseNotes]="caseNotesMap()[hearingRow.defendants.caseId]"
    [publicListNote]="hearingRow?.publicListNote"
    (getCaseNotes)="onGetCaseNote.emit($event)"
  ></view-hearing-row-details>
</ng-template>

<!--Move alert-->
<ng-template #moveAlert let-hearingRow="rowData">
  <hearing-row-moved-alert [hearingRow]="hearingRow"></hearing-row-moved-alert>
</ng-template>

<!----actions-->
<ng-template #actionsCell let-hearing="rowData" let-group="rowGroupData" let-section="sectionData">
  <allocated-crown-widget-actions-cell
    [displayAllocateOptions]="
      selectedAllocationHearings() | displayAllocateForHearingTimeGroup: group?.time
    "
    [sectionInAllocateState]="selectedAllocationHearings().length > 0"
    [group]="group.hearings"
    [hearing]="hearing"
    [hearingMoveState]="hearingMoveState()"
    (actionClicked)="actionClicked.emit($event)"
    (undoHearingMoveClicked)="undoHearingMoveClicked.emit($event)"
    (onAllocateAndMove)="allocateAndMove(section, group?.time, hearing.details.judiciary, $event)"
    (onMove)="onHearingMove($event, section, group?.time)"
  >
  </allocated-crown-widget-actions-cell>
</ng-template>

<!--Section global action renderer-->
<ng-template #accordionSectionAction let-section="sectionData">
  @if (selectedAllocationHearings() | displayCourtRoomAllocate: section.judiciaryCalendar) {
    <button
      data-test-id="court-room-allocate"
      pdk-button
      type="button"
      (click)="allocateAndMove(section)"
    >
      Allocate here<span pdk-visually-hidden>to {{ section?.courtRoomName }}</span>
    </button>
  }
</ng-template>

<!--Section alert renderer-->
<ng-template #sectionAlertRenderer let-section="sectionData">
  @if (
    sectionAllocatedToState()?.courtRoomId === section.courtRoomId &&
    sectionAllocatedToState()?.numOfHearingsAllocated >= 1
  ) {
    <pdk-alert icon="true" type="success">
      <span [ngPlural]="sectionAllocatedToState()?.numOfHearingsAllocated">
        <ng-template ngPluralCase="=1"> 1 hearing</ng-template>
        <ng-template ngPluralCase="other">
          {{ sectionAllocatedToState()?.numOfHearingsAllocated }} hearings</ng-template
        >
        allocated successfully
        <span pdk-visually-hidden>in {{ section.courtRoomName }}</span>
      </span>
    </pdk-alert>
  }
</ng-template>
